html {
	font-size: 9px;
}

/** 헤더 저해상도 **/
.menu-bar {
	width: 50px;
}

.hamburger-menu-wrap {
	left: 10px;
}

.line {
	width: 30px;
}

/** 프로필 저해상도**/
.about-profile {
	grid-template-areas: ".";
	grid-gap: 20px;
}

.profile-text {
	text-align: center;
}

.profile-text > p:last-child {
	text-align: left;
}

.text-bar {
	width: 100%;
}


/** 포트폴리오 저해상도 **/
.popol-item > li {
	margin: 50px 0;
}

.popol-item > li:nth-of-type(1) {
	margin: 80px 0 50px 0;
}

.popol-text-box {
	padding: 50px;
}

/** 컨택트 저해상도 **/
.form-filed {
	grid-gap: 30px;
}

.name-email-zonewrap {
	grid-template-areas: ".";
}

.filed-zone > input, textarea {
	min-width: 400px;
}

/** 가로 해상도 500px **/
@media screen and (max-width: 500px) {
	html {
		font-size: 8px;
	}
	
	.menu-bar {
		border: 0;
		background: none;
	}
	
	.menu-bar-open {
		width: 100% !important;
	}
	
	.scrolldown-ani {
		bottom: 15%;
	}
	
	.profile-img > img {
		max-width: 300px;
	}
	
	.box-inner {
		padding: 30px;
	}
	
	.keyword-icon {
		grid-template-areas: ". .";
		grid-gap: 30px;
	}
	
	.keyword > span {
		margin: 10px;
	}
	
	.popol-text-box > .popol-text {
		text-align: center;
	}
	
	.popol-text-linkbox {
		padding: 30px;
	}
}

/** 가로 해상도 420px **/
@media screen and (max-width: 420px) {
	html {
		font-size: 7px;
	}
	
	.main-title {
		height: 707px;
	}
	
	.iam-me > p:nth-of-type(2) {
		padding: 10px 0 10px 23px;
	}
	
	.iam-me > p:nth-of-type(3) {
		padding: 0 0 0 23px;
	}
	
	.iam-me > p:nth-of-type(4) {
		padding: 0 0 0 23px;
	}
	
	.popol-text-linkbox {
		grid-template-areas: ".";
	}
	
	.popol-text-linkbox > a {
		margin: 10px 20px;
	}
	
	.filed-zone > input, textarea {
		min-width: 300px;
	}
	
	.form-buttonwrap > li > input {
		width: 150px;
	}		
}

@media screen and (max-width: 320px) {
	html {
		font-size: 6px;
	}
	
	.main-title {
		height: 550px;
	}
	
	.menu-bar > ul > li {
		margin: 40px 50px;
	}
}

